.cp-course-container
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    > .titleBar{
        width: 100%;
        height: 116px;
        background-image: linear-gradient(286deg, #60cdc9, #41a3b5);
    }

    > .center-container{
        width: 1080px;
        min-height: 720px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

         .sidebar{
            overflow: hidden;
            position: relative;
            width: 180px;
            height: 100%;

        }

         .detail{
            overflow: hidden;
            width: 810px;
            min-height: 720px;
        }
    }


}
