.cp-tag{
    overflow: hidden;
    height: 22px;
    line-height: 22px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
}
