@font-family: "PingFangSC-Regular","Microsoft YaHei";

/*
 *color
 */
@squash: #f5a623;
@warm-grey: #999999;
@pinkish-grey: #bbbbbb;
@white: #f8f8f8;
@brownish-grey: #666666;
@seafoam-blue: #60cdc9;
@cool-blue: #41a3b5;
@coral-pink: #fc5c63;
@light-red: #ff4149;
